$colorRed:red;
%fontStyle{
    font-size: 18px;
    line-height: 24px;
}
@mixin transform($prop){
    -webkit-transform: $prop; //префиксы для поддержки разных браузеров
    -ms-transform: $prop;
    transform: $prop;
}
@mixin lit-desk(){
    @media (max-width:1366px) {
        @content;
    }
}
@mixin tablet(){
    @media (max-width:1024px) {
        @content;
    }
}
@mixin mobile(){
    @media (max-width:768px) {
        @content;
    }
}
body{
    background-color: black;
    color: $colorRed;
    font-size: 20px;
    @extend %fontStyle;
    @include mobile(){
        font-size: 16px;
        line-height: 24px;
    }
    @include lit-desk(){
        font-size: 40px;
    }
    @include tablet(){
        font-size: 30px;
    }
}
.card{
    .item{
        background-color: red;
    &__item{
        background-color: green; // использование его позволяет не прописывать родителя - .card
    }
}
}
.dots {
    @extend %fontStyle;
    width: 120px;
    height: 120px;
    display: flex;
    align-items:center;
    border: 1px solid grey;
    box-sizing: border-box;
    border-radius: 20px;
    &__item{
        height: 30px;
        width: 30px;
        background-color: rgb(214, 205, 205);
        border-radius: 50px;
        &--active{
            background-color: blue;
        }
        &.active{
            background-color: green;
        }
    }
}